*.iml
.gradle
/local.properties
.idea
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/xcshareddata/IDEWorkspaceChecks.plist
.kotlin
